.logo{
    margin: 20px;
    margin-left: 120px;
}
.nav1{
    background-color: rgb(232, 232, 232);
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;


}
.nav2{
    /* background-color: rgb(232, 232, 232); */
    display: flex;
    justify-content: flex-end;
    margin-left: 47%;
    margin-right: 5%;
}
.div{
    display: flex;
  justify-content: flex-end;

}

.profilepic{
  width: 40%;
  border-radius: 50%;
    }

    ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
